*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #74aef183; }

.header {
  height: 90vh;
  padding: 3rem;
  position: relative;
  background-image: url(../../img/color.jpg);
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-size: cover;
  /*fit the size of the box*/
  background-position: top;
  /*stay at top of the container*/
  position: relative; }
  .header__avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9); }
  .header__text-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/ 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2 *((100% - 2 *6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2 *  ((100% - 3 *6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *  ((100% - 3 *6rem)/4) + 2 * 6rem); }

.contact {
  position: absolute;
  top: 0;
  right: 0;
  color: transparent;
  padding-top: 1rem;
  padding-right: 3rem; }

.about-box {
  margin-top: 20rem;
  position: relative;
  top: 40%;
  left: 50%;
  height: 30rem;
  width: 55rem;
  transform: translate(-50%, -50%); }
  .about-box__text {
    font-family: monospace;
    padding-top: 1.1rem;
    position: relative;
    font-size: 2rem;
    color: #0B3746;
    letter-spacing: normal; }

.card-box {
  height: 100vh;
  padding: 20rem;
  position: relative;
  -webkit-clip-path: polygon(0% 15%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0% 15%, 100% 0, 100% 100%, 0% 100%);
  background-size: cover;
  /*fit the size of the box*/
  background-position: top;
  /*stay at top of the container*/
  position: relative;
  background-image: url(../../img/color.jpg);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: normal;
  margin-top: 25rem;
  font-family: monospace;
  color: white; }
  .card-box__project {
    height: 50rem;
    width: 100%;
    background-color: #e9f5f527;
    box-shadow: 0 0.1rem 1rem rgba(241, 237, 237, 0.4); }
    .card-box__project--pic1 {
      height: 23rem;
      background-size: cover;
      background-image: url(../../img/fiber.jpg); }
    .card-box__project--pic2 {
      height: 23rem;
      background-size: cover;
      background-image: url(../../img/points.jpg); }
    .card-box__project--pic3 {
      height: 23rem;
      background-size: cover;
      background-image: url(../../img/code_.jpg); }
    .card-box__project--title {
      padding-left: 1rem;
      font-size: 4rem; }
    .card-box__project--description {
      padding-left: 1rem;
      font-size: 2rem; }

.heading-main {
  font-family: monospace;
  color: #ffff;
  padding-top: 35rem; }
  .heading-main--primary {
    font-size: 3rem;
    letter-spacing: 1.1rem;
    text-shadow: 0.5rem 1rem 2rem black; }
  .heading-main--second {
    font-size: 2.5rem;
    letter-spacing: 1.1rem;
    text-shadow: 0.5rem 1rem 2rem black; }
  .heading-main--me {
    color: #00FFE9;
    font-size: 3rem;
    font-weight: bold; }
