*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  height: 80vh;
  background: #020024;
  background: linear-gradient(135deg, rgba(2, 0, 36, 0.762342) 15%, #106079 60%, #001aff 100%); }
  .header__avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9); }
  .header__text-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center; }

.contact {
  position: absolute;
  top: 0;
  right: 0;
  color: transparent;
  padding-top: 1rem;
  padding-right: 3rem; }

.heading-main {
  font-family: monospace;
  color: #ffff;
  padding-top: 35rem; }
  .heading-main--primary {
    font-size: 3rem;
    letter-spacing: 1.1rem;
    text-shadow: 0.5rem 1rem 2rem black; }
  .heading-main--second {
    font-size: 2.5rem;
    letter-spacing: 1.1rem;
    text-shadow: 0.5rem 1rem 2rem black; }
  .heading-main--me {
    color: #e05854; }
