.header {
	height: 50vh;
	padding: 3rem;
	position: relative;

	background: rgb(2, 0, 36);
	background: linear-gradient(
		135deg,
		rgba(2, 0, 36, 0.76234243697479) 15%,
		rgba(16, 96, 121, 1) 60%,
		rgba(0, 26, 255, 1) 100%
	);
}
