.header {
	height: 90vh;
	padding: 3rem;
	position: relative;
	
	// -- first options
	// background: rgb(2, 0, 36);
	// background: linear-gradient(
	// 	135deg,
	// 	rgba(2, 0, 36, 0.76234243697479) 15%,
	// 	rgba(16, 96, 121, 1) 60%,
	// 	rgba(0, 26, 255, 1) 100%
	// );
	// filter: blur(0.1rem);
	// overflow: hidden;

	// -- second option
	// background: rgba(5, 73, 104, 0);
	// background: linear-gradient(
	// 	to left bottom,
	// 	rgba(36, 129, 206, 0.89) 15%,
	// 	rgba(10, 132, 202, 1) 60%,

	// ), url(../../img/code_2.jpg);


	// background-image: url(../../img/color.jpg);
	background-color: #082f47;
	// filter: blur(3px);

	// background-blend-mode: screen;
	// -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	// clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

	// filter: blur(1px);

	background-size: cover;
	/*fit the size of the box*/
	background-position: top;
	/*stay at top of the container*/
	// position: relative;

	&__avatar {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 25rem;
		height: 25rem;
		border-radius: 50%;
		box-shadow: 0 1rem 2rem rgba(#000, 0.9);
	}

	&__text-box {
		position: relative;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		align-items: center;
		text-align: center;
	}
}
