.header {
	height: 80vh;
	padding: 3rem;
	position: relative;
	
	// -- first options
	// background: rgb(2, 0, 36);
	// background: linear-gradient(
	// 	135deg,
	// 	rgba(2, 0, 36, 0.76234243697479) 15%,
	// 	rgba(16, 96, 121, 1) 60%,
	// 	rgba(0, 26, 255, 1) 100%
	// );

	// -- second option
	// background: rgba(5, 5, 231, 0.116);
	// background: linear-gradient(
	// 	to left bottom,
	// 	rgba(57, 55, 105, 0.466) 15%,
	// 	rgba(32, 48, 154, 0.63) 60%,
	// ), url(../../img/color.jpg);


	background-image: url(../../img/color.jpg);
	background-size: cover;
	/*fit the size of the box*/
	background-position: top;
	/*stay at top of the container*/
	position: relative;

	&__avatar {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 25rem;
		height: 25rem;
		border-radius: 50%;
		box-shadow: 0 1rem 2rem rgba(#000, 0.9);
	}

	&__text-box {
		position: relative;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		align-items: center;
		text-align: center;
	}
}
