.title-md {
	font-size: 2rem;
	color: $primary-color-4;
	font-weight: 900;

}

.title-md-upper {
	font-size: 1.6rem;
	color: $primary-color-4;
	font-weight: 900;
	text-transform: uppercase;
}


.sub-title-sm {
	font-size: 1rem;
	color: $primary-color-4;
}

.sub-title-sm-bold {
	font-size: 1rem;
	color: $primary-color-4;
	font-weight: 900;
}

.paragraph {
	font-size: 1.2rem;
	color: $primary-color-4;

	font-weight: 400;
}
