.title-md {
	font-size: 2rem;
	// color: $primary-color-4;
	color: $basic-1;
	font-weight: 500;
	font-size: larger;

}

.title-md-inverse {
	// font-size: 2rem;
	color: $primary-color-4;
	// color: $basic-1;
	// font-weight: 900;
	// font-size: larger;

	font-size: 4rem;
    font-weight: 500;

    text-transform: capitalize;
    // color: #3575D2;

}
.title-md-inverse-white {
	// font-size: 2rem;
	color: $basic-1;
	// color: $basic-1;
	// font-weight: 900;
	// font-size: larger;

	font-size: 4rem;
    font-weight: 500;

    text-transform: capitalize;
    // color: #3575D2;

}
.title-sm-inverse-white {
	// font-size: 2rem;
	color: $basic-1;
	// color: $basic-1;
	// font-weight: 900;
	// font-size: larger;

	font-size: 1.5rem;
    font-weight: 400;

	text-transform: uppercase;
    // color: #3575D2;

}
.title-md-upper {
	color: $basic-1;
	font-size: 2rem;
	// color: $primary-color-4;
	font-weight: 500;
	text-transform: uppercase;
}

.title-md-upper-dark {
	font-size: 1.9rem;
	// color: $primary-color-4;
	color: $basic-3;
	font-weight: 600;
	text-transform: uppercase;
}



.sub-title-sm {
	font-size: 1rem;
	color: $primary-color-4;
}

.sub-title-sm-bold {
	font-size: 1rem;
	color: $primary-color-4;
	font-weight: 900;
}

.paragraph {
	font-size: 1.2rem;
	color: $primary-color-4;

	font-weight: 400;
}

.paragraph-dark {
	font-size: 1.2rem;
	color: $basic-3;

	font-weight: 400;
}

