.footer {
	// background-color: $primary-color;

	// height: 20vh;
	height: 30vh;

	background-image: url(../../img/color.jpg);
	background-size: cover;
	/*fit the size of the box*/
	// background-position: top;

	transform: rotate(180deg);

	// -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
	// clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);

	padding-top: 1rem;
	margin: 0 auto;

	&--top {
		margin: 0 auto;
		height: 6rem;
		width: 6rem;
		background-color: black;
		border-radius: 5%;

		@include respond(phone) {
			// padding-bottom: 33rem;

			// padding-top: rem;

			// bottom: 100%;
			// text-align: center;
			// align-items: center;
			// letter-spacing: normal;
			// font-size: $header-font-5;
		}
	}

	&--contact {
		transform: rotate(180deg);
		margin: 0 auto;
		max-width: $grid-with;
		text-align: center;
		align-items: center;
		font-family: monospace;
		color: white;
		font-weight: 800;

		font-size: $header-font-4;
		letter-spacing: 1.1rem;
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.8);

		@include respond(phone) {
			transform: rotate(180deg);
			margin: 0 auto;
			max-width: $grid-with;
			text-align: center;
			align-items: center;
			font-family: monospace;
			color: white;
			font-weight: 800;

			font-size: $header-font-4;
			letter-spacing: 1.1rem;
			text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.8);
		}
	}
}
