.footer {
	background-color: #082f47;

	height: 20vh;

	// -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
	// clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);

	
	padding-top: 5rem;
	&__contact {
		margin: 0 auto;
		max-width: $grid-with;
		text-align: center;
		align-items: center;
	}
}
