
.about-box {
	max-width: $grid-with;

	margin: 0 auto;

	margin-top: 10rem;
	margin-bottom: 10rem;

	position: relative;
	// background-color: darkred;

	// &__text {
	// 	max-width: $grid-with;
	// 	margin: 0 auto;
	// 	font-family: monospace;
	// 	font-size: 2rem;
	// }
}
