// basics colors
$basic-1 : #fff;
$basic-2 : #000;

// colors 
$primary-color-1 : #3C4E86;
$primary-color-2 : #737373;
$primary-color-3 :  #262626;

$primary-color-4 : #57C6F4;

$light-dark : #010101c7;

$buttons-radius-size: 0.2rem;
$card-radius-size: 1rem;