// base use on header
$primary-color: #082f47; 

// this are the option for body backgrounds or leve white.
$primary-color-body-background: #105d7756;
$secondary-color-body-background: #072e472a;

// I use for texts
$primary-color-1:#46a2d8; // titles 
$primary-color-2: #123244; // sub title or paragraph




// base colors shodows 
$color-white: #ffff;
$color-black: #000;

// my name color
$color-name: #e05854;

// about color text
// $about-color-text:  #0B3746;

// GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
