*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	// background-color: #74aef183;
	// background-color: #010029;
	// background-color: #1E2629;
	// background-color: #010415;
	background-color: #072e4738;
	// background-color: $base-background-color;
}
