.btn {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.5rem 1rem;
	display: inline-block;
	border-radius: 1rem;
	transition: all 0.2s;
	position: relative;

	border: none;
	cursor: pointer;
	margin-top: 2rem;
	margin-right: 2rem;

	
	&--white {
		background-color: rgba(252, 252, 252, 0.034);
		letter-spacing: 0.4rem;


		color: white;
		font-family: monospace;
		font-size: 2.5rem;
		font-weight: 600;

		
		box-shadow: 0 0rem 1rem rgba(#fff, 0.1);
	}

	&--white-big {
		background-color: rgba(14, 206, 240, 0.089);

		color: white;
		font-family: monospace;
		// font-size: $header-font-4;


		box-shadow: 0 0.1rem 5rem rgba(#000, 0.9);
		
		
	}

	&:hover {
		background-color: $primary-color-1;

		transform: translateY(-1.2rem) scale(1.02);
		// box-shadow: 0 0.1rem 5rem rgba(#fff, 0.3);
	}

	


}

// for links no button
.go-to {
	text-decoration: none;
	font-size: 1.9rem;
	font-weight: 600;

	color: $primary-color-1;
}
