.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;

	align-items: center;
	text-align: center;
	// background-color: red;
	display: block;
	
	&--list {
		display: inline-block;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;

		&__link {
			color: $primary-color-1;
			// display: inline-block;
			display: block;
			// text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-family: monospace;
			font-size: 1.5rem;
			font-weight: 900;

			&:hover {
				color: white;
			}
		}

		&:hover {
			background-color: $primary-color;
		}
	}
}
