.technologies {
    position: relative;
    transition: transform 0.3s; // don't forget everytime you add efect

    &--sm-box {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 10%;
        // border-radius: 100%;

        &:hover {
            // transform: translateY(-1.5rem) scale(1.03);
            // background-color: $primary-color-1;
            // box-shadow: 0 1rem 0.9rem rgba($basic-2, 0.4);

            background-color: $primary-color-3;
            box-shadow: 0 0rem 3rem rgba($primary-color-4, 0.2);
        }
    }

    &--md-box {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 10%;

        &:hover {
            // transform: translateY(-1.5rem) scale(1.03);
            // background-color: $primary-color-1;
            // box-shadow: 0 1rem 0.9rem rgba($basic-2, 0.4);

            background-color: $primary-color-3;
            box-shadow: 0 0rem 3rem rgba($primary-color-4, 0.2);
        }
    }
}

.tech-box-services {
    width: 15.0rem;
    height: 13.5rem;


    &:hover {
        // transform: translateY(-1.5rem) scale(1.03);
        // background-color: $primary-color-1;
        // box-shadow: 0 1rem 0.9rem rgba($basic-2, 0.4);

        border-radius: 10%;

        box-shadow: 0 1rem 0.9rem rgba($basic-2, 0.5);
    }
}

.img-icon {
    width: 8rem;
    height: 8rem;
}



.technologies-services {
    position: relative;

    &--md {
        width: 6.5rem;
        height: 6.5rem;
    }

    &--md-box {
        width: 10.5rem;
        height: 10.5rem;

        &:hover {
            // transform: translateY(-1.5rem) scale(1.03);
            // background-color: $primary-color-1;
            // box-shadow: 0 1rem 0.9rem rgba($basic-2, 0.4);

            border-radius: 10%;

            box-shadow: 0 1rem 0.9rem rgba($basic-2, 0.5);
        }
    }

}

// move this to own file video/_video.scss
.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: .55;

	overflow: hidden; // when element overflow

	&__content {
		height: 100%;
		width: 100%;
		object-fit: cover; // fit the entire parent 
	}
}