// .tech-circle
.tech-box {
	max-width: $grid-with;
	margin: 0 auto;

	&__img {
		margin-top: 1.5rem;
		display: inline-block;
		background-color: white;
		width: 5rem;
		height: 5rem;
		border-radius: 10%;
		position: relative;
		transition: transform 0.3s; // don't forget everytime you add efect

		margin-left: 1.2rem;
		
		margin-bottom: 1rem;

		
		
		&:hover {

			// transform: translateY(-1.5rem) scale(1.03);
			background-color: $primary-color-1;
			box-shadow: 0 0.1rem 5rem rgba(#fff, 0.3);
		}
	}

	@include respond(tab-land) {
		align-items: center;
		text-align: center;
	}
	@include respond(tab-port) {
		align-items: center;
		text-align: center;
	}

	@include respond(phone) {
		align-items: center;
		text-align: center;
	}


}
