.card-box {
    position: relative;

    letter-spacing: normal;
    margin-top: 10rem;
    margin-bottom: 10rem;

    font-family: monospace;

    &__project {
        transition: transform 0.3s; // don't forget everytime you add efect
        height: 60rem;
        width: 100%;

        position: relative;

        &--pic {
            height: 60rem;
            background-size: cover;
            width: 100%;
            align-items: center;
            background-size: cover;
        }


        &--tech-tools {
            padding-top: 2rem;
        }

        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
            box-shadow: 0 0.1rem 1rem rgba(#fff, 1.9);
        }
    }
}
